<div class="container goods">
  <h1>Goods List</h1>
  <div class="row filter">
    <%= form_tag goods_path, method: 'get', class: 'form-horizontal' do %>
      <div class="form-group">
        <%= label_tag :type, 'Type', class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= text_field_tag :type, params[:type], placeholder: 'Input your filter type', class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :entry_at, 'Arrive Date', class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= date_field_tag :entry_at, params[:entry_at], class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Filter</button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Consignment ID</th>
          <th>Type</th>
          <th>Name</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Entry At</th>
          <th>Exit At</th>
        </tr>
      </thead>
      <tbody>
        <% @goods.each do |good| %>
          <tr>
            <td><%= good.consignment_id %></td>
            <td><%= good.type %></td>
            <td><%= good.name %></td>
            <td><%= good.source %></td>
            <td><%= good.destination %></td>
            <td><%= good.entry_at&.strftime('%d/%m/%Y') %></td>
            <td><%= good.exit_at&.strftime('%d/%m/%Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to 'Imort Data', new_good_path, class: 'btn btn-primary' %>
  </div>
</div>
